<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>chuo serch</title>
    <link rel="stylesheet" href="display.css">
    <meta http-equiv="refresh" content="30;">
</head>

<body>
    <style>
    </style>
    <header>
        <div>
            <h1><%- id %></h1>
            <p class="people">人数: <%- count %><br></p>
            <div class="test" style=<%= "background-color:" + color %>></div>
            <p class="jam">混雑状況</p>

            <p class="color">
                <br>
            <p class="des">赤→多い<br>
                黃→普通<br>
                青→少ない
            </p>
            </p>
            <p class="co2"> 二酸化炭素濃度:</p>
            </p>
        </div>
    </header>
</body>

</html>