* {
    margin: 0;
    padding: 0;
}
h1{
    font-size: 100px;
    text-align: center;
    color: rosybrown;
}
.people{
   padding-left: 400px;
    padding-top: 50px;
    font-size: 50px;
}
.jam{
    padding-left: 400px;
    padding-top: 50px;
    font-size: 50px;
}
.color{
    padding-left: 400px;
    font-size: 30px;
    padding-left: 500px;
}
.des{
    padding-left: 400px;
    font-size: 30px;
}
.co2{
    padding-top: 200px;
    padding-left: 400px;
    font-size: 50px;
}
.test{
float:right;
width:500px;
height:400px;
margin-right: 300px;
margin-top: 50px;
}