<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>chuo serch</title>
    <link rel="stylesheet" href="display.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <style>
    </style>
    <header>
        <div>
            <h1><%- id %></h1>
            <p class="people" id="people">人数: <%- count %><br></p>
            <div class="test" id="canvas" style=<%= "background-color:" + color %>></div>
            <p class="jam">混雑状況</p>

            <p class="color">
                <br>
            <p class="des">赤→多い<br>
                黃→普通<br>
                青→少ない
            </p>
            </p>
            <p class="co2"> 二酸化炭素濃度:</p>
            </p>
        </div>
    </header>
</body>

</html>
<script>
const domain = document.domain
const protocol = location.protocol
const url = `${protocol}//${domain}`
var socketio = io(url, {transports:['polling']});
let canvas = document.getElementById('canvas');
let people = document.getElementById('people');
socketio.on('message', function (msg) {
    let data = msg
    people.innerHTML = "人数: " + data.count + "<br>"
    if(data.count > data.yellow_max){
        //赤にする
        canvas.style.backgroundColor = "#ffcdcd";
    }
    else if(data.count > data.green_max){
        //黄色にする
        canvas.style.backgroundColor = "#fcffcd";
    }
    else{
        //青にする
        canvas.style.backgroundColor = "#cdd8ff";
    }
});
socketio.emit('add:display', {id: <%- id %>});
</script>